.App {
  text-align: center;
}

.NCnews {
  border-style: solid;
  border-color: red;
}

.Nav {
  border-style: solid;
  border-color: orange;
}

.Header {
  border-style: solid;
  border-color: blue;
}

.HomeArticle {
  border-style: solid;
  border-color: rgb(255, 0, 200);
}

.CommentCard {
  border-style: solid;
  border-color: green;
}

.Voter {
  border-style: solid;
  border-color: turquoise;
}
