.App {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(247, 223, 223);
}

.NCnews {
  /* border-style: solid;
  border-color: grey; */

  margin: 0;
}
a {
  color: rgb(173, 9, 9);
  text-decoration: none;
}

a:hover {
  color: rgb(248, 192, 192);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(226, 3, 3, 0.67);
  -moz-box-shadow: 0px 0px 50px 0px rgba(226, 3, 3, 0.67);
  box-shadow: 0px 0px 50px 0px rgba(226, 3, 3, 0.67);
}

.numberCircle {
  border-radius: 50%;

  width: 36px;
  height: 36px;
  padding: 8px;

  background: #fff;
  border: 2px solid rgb(179, 7, 7);
  color: rgb(179, 7, 7);
  text-align: center;

  font: 32px Arial, sans-serif;
}

.Nav {
  /* border-style: solid;
  border-color: grey; */

  box-shadow: 10px 10px 5px grey;
  background-color: rgb(255, 255, 255);
}

.HomeArticle {
  margin: 20px;
  border-style: solid;
  border-color: rgba(226, 3, 3, 0.67);
  border-radius: 25px;

  box-shadow: 10px 10px 5px grey;
  background-color: rgb(252, 252, 252);
}

.CommentCard {
  margin: 20px;
  border-style: solid;
  border-color: rgba(226, 3, 3, 0.67);
  border-radius: 25px;

  box-shadow: 10px 10px 5px grey;
  background-color: rgb(252, 252, 252);
}

/* .Voter {
  border-style: solid;
  border-color: turquoise;
} */

.BigBox {
  text-align: top;
  width: 500px;
  height: 100px;

  border: 1px solid red;
}

.DeleteButton {
  background-color: powderblue;

  transition: background-color 0.5s;
}

.DeleteButton:hover {
  background-color: gold;
  color: red;
}

.UpVote {
  /* box-shadow: 10px 10px 5px grey; */
  justify-self: end;
}

.UpVote:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(184, 13, 13, 0.67);
  -moz-box-shadow: 0px 0px 30px 0px rgba(184, 13, 13, 0.67);
  box-shadow: 0px 0px 30px 0px rgba(184, 13, 13, 0.67);
}

.DownVote:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(184, 13, 13, 0.67);
  -moz-box-shadow: 0px 0px 30px 0px rgba(184, 13, 13, 0.67);
  box-shadow: 0px 0px 30px 0px rgba(184, 13, 13, 0.67);
}

.Sorts {
  border: none;
}

.Sorts:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(196, 6, 6, 0.67);
  -moz-box-shadow: 0px 0px 30px 0px rgba(196, 6, 6, 0.67);
  box-shadow: 0px 0px 30px 0px rgba(196, 6, 6, 0.67);
}

.DownVote {
  /* box-shadow: 10px 10px 5px grey; */
  justify-self: start;
}

.VoteBox {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr repeat(3, 50px) 1fr;
  align-items: center;
  justify-items: center;
}

.Topics {
  display: grid;
  grid-template-columns: 1fr repeat(3, 30%) 1fr;
}
